body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f6f9;
}


nav {
  background-color: #1f2937;
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 25px;
}


nav h2 {
  color: white;
  margin-right: auto;
}


nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}


nav a:hover {
  color: yellow;
}


div {
  padding: 20px;
}


h1 {
  color: #1f2937;
}


input {
  width: 300px;
  padding: 10px;
  margin-top: 10px;
}


button {
  padding: 10px 20px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
}


button:hover {
  background-color: darkgreen;
}